.review__card {
    cursor: pointer;
    list-style-type: none;
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 10px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: flex-start; */
    /* @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 1280) {
      width: 30%;
    } */
  }

.review__card-photo {
    float: left;
    margin: auto 10px ;
    width: 60px;
    height: 80px;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
        width: 60px;
        height: 80px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 12px;
        width: 60px;
        height: 80px;
    }
  }

.review__card-body {
    display: block;
    overflow: hidden;
}

.review__card-body-title {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    color: #b92f2c;
    text-decoration: none;
    @media screen and (min-width: 768px) {
      line-height: 1.33;
    }
    @media screen and (min-width: 1280px) {
      font-size: 18px;
      line-height: 1.2;
    }
  }

  .review__card-body-content {
    font-size: 12px;
    line-height: 1.17;
    color: #000;;
    text-decoration: none;

    @media screen and (min-width: 768px) {
      line-height: 1.33;
    }
    @media screen and (min-width: 1280px) {
      font-size: 18px;
      line-height: 1.2;
    }
  }